body {
    font-family: "Montserrat", "Arial", sans-serif;

    margin: 0;
    padding: 0;

    background-color: $white;
    color: $typography;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
}

.button {
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 100px;

    // text-align: center;
    height: 52px;

    box-sizing: border-box;

    cursor: pointer;
    font: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    // padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}